@import 'variables';

/* ===== GLOBAL SETTINGS ===== */

a {
  color: $primaryColor;
  border-bottom: 0px;
  text-decoration: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    color: $primaryColor;
    border: 0;
    text-decoration: none;
  }

  &:hover {
    position: relative;
  }

  /* Crossed out links */
  &:hover:after {
    border-bottom: 0.18em solid $primaryColor;
    content: '';
    width: calc(100% + 0.2em);
    left: -0.1em;
    margin-top: calc(0.18em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
    border-color: currentColor;
  }
}

img {
  max-width: 100%;
}

::-moz-selection {
  background: $primaryColor;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $primaryColor;
  color: #fff;
  text-shadow: none;
}
