@import 'variables';

/* ===== TERTIEARY LAYOUT STRUCTURE ===== */

/* Typewriter Effect */
// https://css-tricks.com/snippets/css/typewriter-effect/ */
.home #content p:nth-child(1) {
  width: 12em;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home #content p:nth-child(2) {
  width: 13em;
  opacity: 0;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home #content p:nth-child(3) {
  width: 14em;
  opacity: 0;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home #content p:nth-child(4) {
  width: 14em;
  opacity: 0;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home #content p:nth-child(5) {
  width: 14em;
  opacity: 0;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.home #content p:nth-child(6) {
  width: 14em;
  opacity: 0;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
  }
  100% {
    opacity: 1;
    border: none;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* Prototyped section */
section #prototipadoImg img {
  max-width: 50%;
}

/* Contact & Quote & Work whith us section */
#contactblock p {
  color: $primaryColor;
}

#contactblock .filters ul {
  list-style-type: none;
  padding: 0em;
}

#contactblock .filters ul {
  list-style-type: none;
  padding: 0em;
}

#contactblock .filters ul li {
  font-size: 1em;
}

#contactblock .filters .contacts a {
  text-transform: uppercase;
  font-weight: bold;
  color: $primaryColor;
}

#contactblock .filters .contacts a::after {
  border-bottom-color: rgb(0, 0, 0);
  content: '';
  width: calc(100% + 0.2em);
  left: -0.1em;
  margin-top: calc(0.18em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
  border-color: currentColor;
}

#contactblock .active {
  background-color: $primaryColor;
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

#formcontact input[type],
#formwwu input[type],
#formquote input[type],
#formcontact textarea,
#formwwu textarea,
#formquote textarea {
  background: none;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 2px solid $primaryColor;
  padding: 10px 5px;
  font-size: 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: medium;
  color: $primaryColor;
  opacity: 0.5;
}

#formcontact input[type]:invalid,
#formwwu input[type]:invalid,
#formquote input[type]:invalid,
#formcontact textarea:invalid,
#formwwu textarea:invalid,
#formquote textarea:invalid {
  color: red;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#formcontact input[type]:focus,
#formwwu input[type]:focus,
#formquote input[type]:focus,
#formcontact textarea:focus,
#formwwu textarea:focus,
#formquote textarea:focus {
  opacity: 1 !important;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#formcontact button,
#formwwu button,
#formquote button {
  border-radius: 0;
}

#formcontact .input-group-text,
#formwwu .input-group-text,
#formquote .input-group-text {
  border-radius: 0 !important;
  border-color: white;
  border-bottom: 2px solid $primaryColor;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: medium;
  opacity: 0.5;
}

// reCAPTCHA
.g-recaptcha {
  display: inline-block;
}

.reCAPTCHA-text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: xx-small;
  opacity: 0.5;
}

.statusFormQuote p {
  color: green;
}

.statusFormQuote span {
  color: red;
}

/* We section */
#we .title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 5em;
  line-height: 1.5em;
  text-align: left;
  color: $primaryColor;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
#we .subtitle {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  color: $primaryColor;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;
}
#we p {
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  font-size: 1em;
  color: #888;
  font-weight: 300;
  line-height: normal;
}
#we img {
  filter: grayscale(100%);
}
#we div {
  padding: 0px !important;
}
